* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

nav {
  height: 60px;
  background: #222222;
  font-weight: 400;
}

.nav-services {
  float: left;
}

.nav-service {
  color: #61b2a7;
  display: block;
  line-height: 30px;
  padding: 15px 20px 15px 40px;
  float: left;
  position: relative;
  text-decoration: none;
  width: 155px;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(34, 34, 34, 0.3);
}

.active {
  color: #ffffff;
  background: #4e7cad;
  /* border-bottom: 3px solid #5480AF; */
}

.nav-pages {
  float: right;
  padding: 15px 0;
}

.nav-pages a {
  color: #4e7cad;
  display: inline-block;
  line-height: 30px;
  padding: 0 10px;
  float: left;
  text-decoration: none;
  border-radius: 2px;
  font-size: 14px;
  margin: 0 2px;
}

.nav-pages a:hover {
  background: rgba(78, 124, 173, 0.2);
}

.is-active {
  color: #222222 !important;
  background: #4e7cad !important;
}

.centered {
  max-width: 940px;
  margin: 0 auto;
}

section {
  float: left;
  width: 100%;
  background: #EEE;
}

section p {
  max-width: 900px;
  margin: 100px auto;
  padding: 0 15px;
  color: rgba(0, 0, 0, 0.7);
  opacity: 0.7;
}

section a {
  text-decoration: none;
  color: #4e7cad;
}

article {
  float: left;
  width: 100%;
}

article p {
  position: relative;
  top: 50px;
}

.keypad {
  width: 222px;
  height: 220px;
  position: absolute;
  background: #FFFFFF;
  text-align: center;
  border-radius: 3px;
}

input {
  position: relative;
  top: 50px;
  border: none;
  width: 250px;
  padding: 10px;
  border: 3px solid #4E7CAD;
  border-radius: 3px;
  font-size: 18px;
  color: #4E7CAD;
}

#verification {
  position: relative;
  top: 340px;
}

.code_input {
  display: inline-block;
  position: relative;
  left: 50%;
  width: 440px;
  margin: -50px -220px 50 -220px;
}

.code_input input {
  font-weight: 400px;
  width: 50px;
  height: 50px;
  border: 2px solid #cccccc;
  display: block;
  float: left;
  margin-right: 5px;
  outline: 0;
  font-size: 28px;
  color: #cccccc;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
}

.code_input input:hover {
  color: #9b9b9b;
}

.code_input input:focus {
  color: #4e7cad;
  border-color: #4e7cad;
}