* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

nav {
  height: 60px;
  background: #222222;
  font-weight: 400;
}

.nav-services {
  float: left;
}

.nav-service {
  color: #61b2a7;
  display: block;
  line-height: 30px;
  padding: 15px 20px 15px 40px;
  float: left;
  position: relative;
  text-decoration: none;
  width: 155px;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(34, 34, 34, 0.3);
}

.active {
  color: #ffffff;
  background: #4e7cad;
  /* border-bottom: 3px solid #5480AF; */
}

.nav-pages {
  float: right;
  padding: 15px 0;
}

.nav-pages a {
  color: #4e7cad;
  display: inline-block;
  line-height: 30px;
  padding: 0 10px;
  float: left;
  text-decoration: none;
  border-radius: 2px;
  font-size: 14px;
  margin: 0 2px;
}

.nav-pages a:hover {
  background: rgba(78, 124, 173, 0.2);
}

.is-active {
  color: #222222 !important;
  background: #4e7cad !important;
}

.centered {
  max-width: 940px;
  margin: 0 auto;
}

section {
  float: left;
  width: 100%;
  background: #EEE;
}

section p {
  max-width: 900px;
  margin: 100px auto;
  padding: 0 15px;
  color: rgba(0, 0, 0, 0.7);
  opacity: 0.7;
}

section a {
  text-decoration: none;
  color: #4e7cad;
}

article {
  float: left;
  width: 100%;
}

article p {
  position: relative;
  top: 50px;
}

.keypad {
  width: 222px;
  height: 220px;
  position: absolute;
  background: #FFFFFF;
  text-align: center;
  border-radius: 3px;
}

input[type="text"] {
  position: relative;
  top: 50px;
  border: none;
  width: 250px;
  padding: 10px;
  border: 3px solid #4E7CAD;
  border-radius: 3px;
  font-size: 18px;
  color: #4E7CAD;
}

input[type="checkbox"] {
  display: none;
}

label {
  cursor: pointer;
}

input[type="checkbox"] + label:before {
  border: 2px solid #4E7CAD;
  border-radius: 2px;
  content: "\00a0";
  display: inline-block;
  font: 16px / 1em sans-serif;
  height: 16px;
  width: 16px;
  margin: .1em .5em 0 0;
  padding: 0;
  vertical-align: top;
  background: #FFF;
}

input[type="checkbox"]:checked + label:before {
  background: #4E7CAD;
  color: #FFF;
  content: "\2713";
  text-align: center;
}

#verification {
  position: relative;
  top: 340px;
}

.code_input {
  display: inline-block;
  position: relative;
  left: 50%;
  width: 440px;
  margin: -50px -220px 50 -220px;
}

.code_input input {
  font-weight: 400px;
  width: 50px;
  height: 50px;
  border: 2px solid #cccccc;
  display: block;
  float: left;
  margin-right: 5px;
  outline: 0;
  font-size: 28px;
  color: #cccccc;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
}

.code_input input:hover {
  color: #9b9b9b;
}

.code_input input:focus {
  color: #4e7cad;
  border-color: #4e7cad;
}

#historique {
  margin: 100px auto;
}

#historique a {
  text-decoration: none;
}

#historique label {
  display: inline-block;
  width: 700px;
  text-align: left;
}



th {
  color: #D5DDE5;;
  background: #1b1e24;
  border-right: 1px solid #343a45;
  padding: 10px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
  font-size: 11px;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color: #666B85;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:first-child {border-top: none;}
tr:last-child {border-bottom: none;}
tr:last-child td:first-child {border-bottom-left-radius: 3px;}
tr:last-child td:last-child {border-bottom-right-radius: 3px;}
 
td {
  background: #FFFFFF;
  padding: 10px;
  font-size: 11px;
  text-align: center;
  vertical-align: middle;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
  background: #EEE;
  max-width: 210px;
  overflow: hidden;
}

#accept {
  margin-top: 75px;
  margin-right: 10px;
  width: 150px;
  padding: 15px;
  border: none;
  cursor: pointer;
  background: #4E7CAD;
  color: #FFF;
  border-radius: 3px;
  transition: all 0.3s;
}

#accept:hover {
  background: #3B5998;
}

#cancel {
  width: 150px;
  padding: 15px;
  border: none;
  cursor: pointer;
  background: #A61835;
  color: #FFF;
  border-radius: 3px;
  transition: all 0.3s;
}

/* staff */

@import url(http://fonts.googleapis.com/css?family=Varela+Round);

.icon {
  display: block;
  position: relative;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
}

.icon:before,
.icon:after {
  content: "";
  position: absolute;
}

.dropp {
  width: 220px;
  box-shadow: 0 1px 3px #0a0a0a;
  position: absolute;
  top: 360px;
  left: 50%;
  margin-left: -120px;
  z-index: 100;
  font: 1em "Varela Round", Arial, sans-serif;
  color: #999;
}

.dropp-header {
  background: #242424;
  color: #fff;
  border-bottom: 2px solid #4E7CAD;
  box-align: stretch;
  align-items: stretch;
  display: box;
  display: flex;
  box-orient: horizontal;
  box-direction: normal;
  flex-direction: row;
  box-pack: start;
  justify-content: flex-start;
}

.dropp-header__title {
  display: block;
  padding: 1em 0.5em;
  box-flex: 8;
  flex: 8;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.dropp-header__btn {
  display: block;
  background: #1c1c1c;
  color: #fff;
  padding: 0.8em 0.5em;
  box-flex: 1;
  flex: 1;
  transition: all 0.3s ease-in-out;
}

.dropp-header__btn .icon {
  transform: rotate(-90deg);
}

.dropp-header__btn .icon:before,
.dropp-header__btn .icon:after {
  top: 30%;
  left: 25%;
  width: 50%;
  height: 15%;
  background: #4E7CAD;
  transform: rotate(-45deg);
}

.dropp-header__btn .icon:after {
  top: 55%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dropp-header__btn.js-open { background: #4E7CAD; }

.dropp-header__btn.js-open .icon {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.dropp-header__btn.js-open .icon:before,
.dropp-header__btn.js-open .icon:after { background: #fff; }

.dropp-header__btn:focus { outline: none; }

.dropp-body {
  overflow: hidden;
  width: 100%;
  max-height: 0;
  background: #292929;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.dropp-body.js-open { max-height: 35em; }

.dropp-body label {
  display: block;
  font-size: 0.875em;
  color: #fff;
  text-decoration: none;
  padding: 1em 0.5em;
  font-weight: 400;
  box-shadow: 0 -1px 0 #171717, inset 0 1px 0 #313131;
  cursor: pointer;
}

.dropp-body label:first-child { box-shadow: none; }

.dropp-body label:hover,
.dropp-body label.js-open { background: #4E7CAD; }

.dropp-body label > input { display: none; }

input[type=number] {
  float: left;
  width: 110px;
  height: 45px;
  padding-left: 5px;
  line-height: 45px;
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
  color: #4E7CAD;
  border: 2px #4E7CAD solid;
  background: none;
  outline: none;
  pointer-events: none;
  appearance: textfield;
  -moz-appearance: textfield;
}

span.spinner {
  position: absolute;
  top: 413px;
  height: 50px;
  left: 50%;
  margin-left: -120px;
  user-select: none;
  -webkit-user-select: none;
}

span.spinner > .sub,
span.spinner > .add {
  float: left;
  display: block;
  width: 55px;
  height: 45px;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 43px;
  color: #4E7CAD;
  border: 2px #4E7CAD solid;
  border-right: 0;
  border-radius: 2px 0 0 2px;
  cursor: pointer;
  transition: 0.1s linear;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

span.spinner > .add {
  top: 0;
  border: 2px #4E7CAD solid;
  border-left: 0;
  border-radius: 0 2px 2px 0;
}

span.spinner > .sub:hover,
span.spinner > .add:hover {
  background: #4E7CAD;
  color: #25323B;
}
 input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
 -webkit-appearance: none;
}

#generate {
  position: absolute;
  display: inline-block;
  top: 457px;
  left: 50%;
  margin-left: -120px;
  width: 220px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  background: #4e7cad;
  border-bottom: 3px solid #222222;
  cursor: pointer;
}

#generate a {
  display: inline-block;
  width: 100%;
  height: 100%;
}