.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0s,  visibility 0s 0.3s;
  z-index: 800;
}

.cd-popup li {
  margin-left: 35px;
  color: #A61835;
}
.cd-popup small {
  font-size: 9px;
  font-weight: bold;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 0s,  visibility 0s 0s;
}
.cd-popup-container {
  position: relative;
  width: 80%;
  max-width: 700px;
  margin: 4em auto;
  padding: 0 15px;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  transform: translateY(-40px);
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform,  -webkit-transform;
  transition-duration: 0.3s;
}
.cd-popup-container p {
  padding: 3em 1em;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 10em auto;
  }
}