* {
  padding: 0;
  margin: 0;
}

body {
  background: #181818;
  overflow: hidden;
}

section.calendar {
  font-family: 'Dosis', sans-serif;
  color: #fff;
  width: 290px;
  height: 100%;
  padding: 45px;
  position: absolute;
  top: 250px;
}
section.calendar h1 {
  text-align: center;
  color: #61b2a7;
  margin: 0 0 30px 0;
}
section.calendar form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
section.calendar form label.weekday {
  display: inline-block;
  width: 25px;
  margin: 8px;
  text-align: center;
  color: #999;
}
section.calendar form form {
  margin: 0;
  padding: 0;
}
section.calendar form label.day {
  display: inline-block;
  width: 25px;
  margin: 8px;
}
section.calendar form label.day span {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin: -2px 0 0 -2px;
  border-radius: 3px;
  border: 2px solid #61b2a7;
  text-align: center;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  cursor: pointer;
}
section.calendar form label.day span:hover {
  border-color: #4e7cad;
}
section.calendar form label.day em {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border-color: #29323f;
  width: 3px;
  height: 3px;
  background-color: #685e02;
  margin-left: 11px;
  margin-top: 2px;
  opacity: 0;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
section.calendar form label.day input[type=text] {
  border: 0;
  opacity: 0;
  position: absolute;
  margin-top: 40px;
  left: -45px;
  width: 450px;
  height: 1px;
  padding: 0;
  outline: none;
  font-size: 16px;
  -webkit-transition: height .2s linear, opacity .2s linear, color .02s linear;
  transition: height .2s linear, opacity .2s linear, color .02s linear;
  color: #fff;
}
section.calendar form label.day input[type=text]:focus {
  opacity: 1;
  height: 35px;
  padding: 10px 40px;
  left: -45px;
  width: 370px;
  color: #29323f;
}
section.calendar form label.day input[type=text]:focus + span {
  color: #4e7cad;
  border-color: #4e7cad;
  background: #4e7cad;
  color: #29323f;
  font-weight: bold;
  margin-bottom: 65px;
}
section.calendar form label.day input[type=text]:focus ~ em {
  border-radius: 0;
  border: 5px solid transparent;
  background: transparent;
  border-bottom-color: white;
  margin-top: -62px;
  margin-left: 7px;
  width: 0;
  height: 0;
  display: inline-block;
  opacity: 1;
}
section.calendar form label.day input[type=text]:valid ~ em {
  display: inline-block;
  opacity: 1;
}
section.calendar form label.day.invalid {
  opacity: 0;
  width: 25px;
  height: 25px;
}
section.calendar form label.day.invalid span, section.calendar form label.day.invalid input {
  display: none;
}
section.calendar div.clearfix {
  clear: both;
}
section.calendar div.hidden {
  display: none;
}

.separators {
  position: absolute;
  width: 2px;
  height: 750px;
  background: #61b2a7;
  opacity: 0.5;
}

#center {
  left: 380px;
  top: 30px;
}

#aside {
  left: 650px;
  top: 30px;
}

#planes {
  position: absolute;
  width: 600px;
  height: 400px;
  top: 325px;
  left: 400px;
  z-index: 100;
}

#planes ul {
  list-style-type: none;
}

#planes li {
  margin: 0 0 15px 0;
}

#planes input[type="checkbox"] {
  display: none;
}

.labels {
  cursor: pointer;
  color: #999;
  font-weight: bold;
  line-height: 24px;
}

#planes input[type="checkbox"] + .labels:before {
  border: 2px solid #61b2a7;
  border-radius: 2px;
  content: "\00a0";
  display: inline-block;
  font: 16px / 1em sans-serif;
  height: 16px;
  width: 16px;
  margin: .1em .5em 0 0;
  padding: 0;
  vertical-align: top;
  background: #61b2a7;
}

#planes input[type="checkbox"]:checked + .labels:before {
  background: #181818;
  color: #61b2a7;
  content: "\2713";
  text-align: center;
}

aside {
  background: #242424;
  background-size: 80%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 641px;
}

/* selection of months */
@import url(http://fonts.googleapis.com/css?family=Varela+Round);

.icon {
  display: block;
  position: relative;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
}

.icon:before,
.icon:after {
  content: "";
  position: absolute;
}

.dropp {
  width: 220px;
  box-shadow: 0 1px 3px #0a0a0a;
  position: absolute;
  top: 120px;
  left: 80px;
  z-index: 100;
  font: 1em "Varela Round", Arial, sans-serif;
  color: #999;
}

.dropp-header {
  background: #242424;
  color: #fff;
  border-bottom: 2px solid #4E7CAD;
  box-align: stretch;
  align-items: stretch;
  display: box;
  display: flex;
  box-orient: horizontal;
  box-direction: normal;
  flex-direction: row;
  box-pack: start;
  justify-content: flex-start;
}

.dropp-header__title {
  display: block;
  padding: 1em 0.5em;
  box-flex: 8;
  flex: 8;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.dropp-header__btn {
  display: block;
  background: #1c1c1c;
  color: #fff;
  padding: 0.8em 0.5em;
  box-flex: 1;
  flex: 1;
  transition: all 0.3s ease-in-out;
}

.dropp-header__btn .icon {
  transform: rotate(-90deg);
}

.dropp-header__btn .icon:before,
.dropp-header__btn .icon:after {
  top: 30%;
  left: 25%;
  width: 50%;
  height: 15%;
  background: #4E7CAD;
  transform: rotate(-45deg);
}

.dropp-header__btn .icon:after {
  top: 55%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dropp-header__btn.js-open { background: #4E7CAD; }

.dropp-header__btn.js-open .icon {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.dropp-header__btn.js-open .icon:before,
.dropp-header__btn.js-open .icon:after { background: #fff; }

.dropp-header__btn:focus { outline: none; }

.dropp-body {
  overflow: hidden;
  width: 100%;
  max-height: 0;
  background: #292929;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.dropp-body.js-open { max-height: 35em; }

.dropp-body label {
  display: block;
  font-size: 0.875em;
  color: #fff;
  text-decoration: none;
  padding: 1em 0.5em;
  font-weight: 400;
  box-shadow: 0 -1px 0 #171717, inset 0 1px 0 #313131;
  cursor: pointer;
}

.dropp-body label:first-child { box-shadow: none; }

.dropp-body label:hover,
.dropp-body label.js-open { background: #4E7CAD; }

.dropp-body label > input { display: none; }

/* notifications */

#notification {
  position: absolute;
  top: 30px;
  left: 680px;
  z-index: 100;
  width: 585px;
  height: 750px;
  overflow-x: hidden;
}

.notifications {
  position: relative;
  width: 585px;
  height: 60px;
  background: #181818;
  border-radius: 4px;
  margin-bottom: 10px;
}

.ids {
  float: left;
  height: 100%;
  width: 60px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  opacity: 0.8;
}

.names {
  float: left;
  height: 56px;
  width: 230px;
  opacity: 0.8;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  line-height: 57px;
  background: #242424;
}

.times {
  float: left;
  height: 100%;
  width: 291px;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  color: #999;
}

.times span {
  margin-right: 15px;
}

/* scrollbar */

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 7px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  background-color: #4E7CAD; 
}

/* number spinner */

input[type=number] {
  float: left;
  width: 102px;
  height: 45px;
  padding: 0;
  line-height: 45px;
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
  color: #4E7CAD;
  border: 2px #4E7CAD solid;
  background: none;
  outline: none;
  pointer-events: none;
}

span.spinner {
  position: absolute;
  top: 171px;
  left: 80px;
  height: 50px;
  user-select: none;
  -webkit-user-select: none;
}

span.spinner > .sub,
span.spinner > .add {
  float: left;
  display: block;
  width: 55px;
  height: 45px;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 43px;
  color: #4E7CAD;
  border: 2px #4E7CAD solid;
  border-right: 0;
  border-radius: 2px 0 0 2px;
  cursor: pointer;
  transition: 0.1s linear;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

span.spinner > .add {
  top: 0;
  border: 2px #4E7CAD solid;
  border-left: 0;
  border-radius: 0 2px 2px 0;
}

span.spinner > .sub:hover,
span.spinner > .add:hover {
  background: #4E7CAD;
  color: #25323B;
}
 input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
 -webkit-appearance: none;
}

#notfound {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 512px;
  width: 512px;
  margin: -256px;
  background: url("res/notfound.png");
  -webkit-filter: grayscale(100%);
}

/* popup */

#popup header {
  position: absolute;
  z-index: 190;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #242424 url("res/overlay_dark.png");
  cursor: pointer;
}

#popup .container {
  position: absolute;
  z-index: 200;
  width: 1000px;
  height: 350px;
  top: 50%;
  left: 50%;
  margin: -175px -500px;
  background: #242424;
  border: 1px solid #61b2a7;
  border-radius: 2px;
}

#popup .container #options {
  position: absolute;
  top: 240px;
  left: 50%;
  margin-left: -55px;
  display: inline-block;
  width: 110px;
  height: 50px;
  background: red;
  cursor: pointer;
}

#popup .container #options span {
  display: inline-block;
  float: left;
  width: 54px;
  height: 100%;
  transition: all 0.4s;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
}

#popup .container #options span:hover {
  height: 60px;
  line-height: 60px;
  margin-top: -5px;
  border-color: transparent;
}

#popup .container #options .left {
  background: #61b2a7;
  border-right: 1px solid #61b2a7;
}

#popup .container #options .right {
  background: #A61835;
  border-left: 1px solid #A61835;
}

#popup .container table {
  position: relative;
  left: 50%;
  top: 70px;
}

th {
  color: #D5DDE5;;
  background: #1b1e24;
  border-right: 1px solid #343a45;
  padding: 15px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
  font-size: 17px;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color: #666B85;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:first-child {border-top: none;}
tr:last-child {border-bottom: none;}
tr:last-child td:first-child {border-bottom-left-radius: 3px;}
tr:last-child td:last-child {border-bottom-right-radius: 3px;}
 
td {
  background: #FFFFFF;
  padding: 15px;
  font-size: 17px;
  text-align: center;
  vertical-align: middle;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
  background: #EEE;
  max-width: 210px;
  overflow: hidden;
}