@font-face {
  font-family: "Fjalla One";
  src: url("res/FjallaOne-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: #181818;
}

header {
  border-bottom: 1px solid rgba(34, 34, 34, 0.2);
  box-shadow: inset 0 10px 10px #4e7cad;
  background-color: #4e7cad;
}

.container {
  background: #4e7cad url("res/overlay.png") 0 50%;
  padding: 30px 0;
}

.centered {
  width: 940px;
  margin: 0 auto;
}

.circle {
  background-color: #4e7cad;
  width: 180px;
  height: 180px;
  margin: 20px auto;
  position: relative;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 1px 8px rgba(34, 34, 34, 0.3), inset 0 1px 8px rgba(34, 34, 34, 0.3);
}

.logo {
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border-radius: 50%;
  background: url("res/logo.png");
  background-size: cover;
  background-position: 25% 0;
}

.title {
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(34, 34, 34, 0.5);
}

.title h1, .title h2 {
  font-weight: 400;
}

.title h1 {
  font-size: 60px;
  margin: 0;
}

.title h1 span {
  color: #a7bed6;
  font-size: 0.4em;
  text-transform: uppercase;
}

.title h2 {
  font-size: 20px;
  margin: 0;
}

footer {
  position: absolute;
  top: 387px;
  left: 0;
  width: 100%;
  height: 420px;
  background: #292929;
  z-index: 110;
}

footer h2 {
  position: absolute;
  top: 130px;
  left: 50%;
  margin-left: -280px;
  font-family: 'Fjalla One', sans-serif;
  color: #EEE;
  opacity: 0.8;
  text-align: center;
}

footer h2 a {
  text-decoration: none;
  color: #4e7cad;
}

#admin img {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0.5;
  transition: all 1s;
  z-index: 120;
}

#admin img:hover {
  opacity: 0.8;
}

/* formulaire */

.code_input {
  display: inline-block;
  position: absolute;
  top: 500px;
  left: 50%;
  width: 415px;
  margin: 50px -207.5px 0 -207.5px;
}

.code_input input {
  font-weight: 400px;
  width: 55px;
  height: 65px;
  border: 2px solid #cccccc;
  display: block;
  float: left;
  margin-right: 10px;
  outline: 0;
  font-size: 50px;
  color: #cccccc;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
}

.code_input input:hover {
  color: #9b9b9b;
}

.code_input input:focus {
  color: #4e7cad;
  border-color: #4e7cad;
}